{% extends 'base.html' %}
	{%block content%}
		{%if last_goods_list%}
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for goods in last_goods_list|slice:"0::2" %}
                    <br>
        <div class="card" style=" height: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{{goods.category}} {{goods.producer}} {{goods.name}}</h5>
            <img src="{{goods.image.url}}" class="mx-auto d-block" alt="" style=" height: 10rem;">
            <p class="card-text">{{goods.description|truncatechars:100}}</p>
            <a href="{{goods.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
        </div>
        </div>
        {%endfor%}
        </div>
        <div class="col">
            {% for goods in last_goods_list|slice:"1::2" %}
            <br>
        <div class="card" style=" height: 30rem;">
            <div class="card-body">
                <h5 class="card-title">{{goods.category}} {{goods.producer}} {{goods.name}}</h5>
                <img src="{{goods.image.url}}" class="mx-auto d-block" alt="" style=" height: 10rem;"> 
					<p class="card-text">{{goods.description|truncatechars:100}}</p> 
                    <a href="{{goods.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
        {%endfor%}
        </div>
        </div>
        </div>
    {%else%}
      <p>No goods</p>
    {%endif%}
    {%for lasta in last_goods_list|slice:"1::2"%}
    {{lasta.id}}
    {%endfor%}
  {%endblock%}
